{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <title>Document</title>
</head>

<body>
    <form action="/signup/" method="post">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <div class="container">

            <div class="center">
                <div class="sign-up_box">
                    <h1 class="heading">Sign Up</h1>

                    <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="User Name">

                    <input type="text" name="first_name" maxlength="100" required="" id="id_first_name" placeholder="First Name">

                    <input type="text" name="last_name" maxlength="100" required="" id="id_last_name" placeholder="Last Name"> 

                    <input type="email" name="email" required="" id="id_email" placeholder="Email Address"> 

                    <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="Password"> 

                    <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="Re-Type-Password"> 

                </div>
                <button type="submit" class="btn">Sign Up</button>
            </div>
        </div>
    </form>
</body>

</html>